* {
margin: 0px;
padding: 0px;
}

body {
text-align: center;
background: #efefef;
font-family:'Bebas Neue';
}

/*.contenedor{
	padding-left:10%;
	width: 90%;
}*/

#cabecera {
	float: left;
	width:25%;
	background: #efefef;
	padding:0%;
}

img.logo{
	margin-top: 15%;
}

#menu {
	background: #efefef;
	padding: 5px 15px;
}

}#menu ul {
	list-style: none;
}

#menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font-weight:normal;
	font-size:1em; 
}

#menu li a{
	padding: 5px;
	font-weight:normal;
	font-size:1em; 
	color:#878084;
	text-decoration: none;

}

#menu li:hover a{
	color:#502B3D;transition:1s;

}

#cabecera .linea{
	background: #502B3D;
	height: .8px;
  /* IMPORTANTE */
   text-align: center;
   width: 80%;
   margin: 0 auto;
   
}

#cabecera h1 {
font-weight:normal;font-size:2em; color:#878084;
margin-top: 15px;
}

h2 {
font: bold 14px verdana, sans-serif;
}


.grid .item{
	float:left;
	width:25%;
}
.grid .item img{
	display:block;
	width: 100%;
}
